.champion-section {
  padding: 0 20px;
}

.champ-title {
  padding-top: 45px;
  text-align: center;
  font-weight: bolder;
}



.dots {
  width: 5px;
  height: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 2px;
  margin-right: 20px;
  
}

.champ-profile{
  padding: 0 5px;
}

.champ-pics {
  display: flex;
  padding: 35px 150px;
  justify-content: center;
}

.circle-pics {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
  width: 80px;
}

.name {
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 20px;
}

.title {
  color: #00acee;
  font-size: 88%;
}

.story {
  text-align: center;
  font-size: 100%;
  
  
  
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 2px;
  margin-top: 5px;
}

/* MOBILE */
@media screen and (max-width: 768px) {

  champion-section {
    padding: 0;
  }

  .champ-title {
    padding-top: 25px;
    text-align: center;
    font-weight: bolder;
  }

  .dots {
    width: 4px;
    height: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 1px;
    margin-right: 15px;
  }

  .champ-profile {
    padding: 0 3px;
  }

  .champ-pics {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
  }

  .circle-pics {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0px auto;
    width: 100px;
    height: 100px;
  }

  .name {
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
  }

  .title {
    color: #00acee;
    font-size: 80%;
  }

  .story {
    text-align: center;
    font-size: 100%;
  }

  .dot {
    width: 3px;
    height: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 1px;
    margin-top: 3px;
  }
}

