header {
  background-image: url(../../static/headerpic.jpg);

  /* height: 750px; */

  background-size: cover;
  border-top: 1px solid black;
  filter: grayscale(0.7);
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-filter: grayscale(0.7);
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
}

.icons {
  width: 10%;

  margin: 500px auto 0;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  header {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
  }
}
