.topnav {
  margin-top: 70px;
  height: 100px;
  padding: 0px 20px;
  background: rgba(191, 191, 191, 0.768);
  display: flex;

  justify-content: space-between;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Style the logo */
.logo {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  font-style:normal;
  font-weight: bold;
  margin: 0 auto ;
  
}

.logo span {
  color: #8bc34a;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #000000;
  font-size: 65px;

  

}

/* Desktop Menu */
.menu {
  margin-left: 15px;
  height: 100%;
  display: none;
  padding-right: 500px;
  
}

.menu a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active-link {
  background: #8bc34a;
  color: #fff;
}

/* Mobile Menu Show & Close buttons */
.show-mobile-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

.close-mobile-menu-button {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  transition: 0.3s;
  padding: 5px 0;
}

.mobile-menu a {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: orange;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .topnav {
    justify-content: flex-start;
    padding: 0 0 0 30px;
    
  }

  .show-mobile-menu-button {
    display: none;
  }

  .logo{
    font-size: 22px;
    margin-left: 10px;
    flex-wrap: wrap;
  }

  .logo span{
    font-size: 25px;
  }

  .menu {
    display: flex;
    align-items: center;
    padding:0 400px 0 30px;
    
    
    

  }
}

@media only screen 
   and (max-width : 320px) {
   .logo{
    font-size: 15px;
    margin-left: 45px;
   }
}

@media only screen 
   and (max-width : 200px) {
   .logo{
    padding-top: 10px;
    flex-wrap: wrap;
   }

   .logo span{
    font-size: 25px;
  }
}

/* Other styles */
.content {
  padding: 40px 20px;
}

@media screen and (max-width: 768px) {
  topnav {
    margin-top: 0;
    height: 40px;
    padding: 10px 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
  }

  .logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 30px;
    font-style:normal;
    font-weight: bold;
    margin: 0;
  }

  .logo span {
    color: #8bc34a;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
    font-size: 40px;
  }
}
