.tweet-section {
  background-image: url(../../static/tony-pham-9s5-focFrSE-unsplash.jpg);
  width: 100%;
  height: 450px;
  background-size: cover;
  filter: grayscale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-filter: grayscale(1);
}

.tweet {
  width: 50%;
  position: relative;
  height: 250px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 100%;
}

.birdy {
  margin: 0;
  width: 30px;
  margin: auto;
  padding-top: 25px;
  -webkit-filter: brightness(10) contrast(10);
  filter: brightness(10) contrast(10);
}

.username {
  padding-top: 20px;
  font-size: 83%;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}

.message {
  font-weight: 300;
  text-align: center;
  padding: 10px 10px 0 10px;
}

.tweet-time {
  /* color: #00acee; */
  font-weight: 300;
  font-size: 75%;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .tweet {
    width: 100%;

    
    
    color: white;
    
    font-size: 100%;
  }
}
